.btn-outline-success{
    color: red;
    border-color: red;
}

.btn-outline-success:hover{
    background-color: red;
    color: white;
    border-color: red;
}

footer{
    background-color: black;
    color:white;
}

.first-line{
    border-bottom: 1px solid #392d23;
}

.second-line a{
    color: white;
    text-decoration: none;
}

.third-line{
    display:none;
}

@media screen and (max-width:48rem) {
    .first-line{
        text-align:center;
    }
}

@media screen and (max-width:48rem) {
    .second-line{
        padding-left:2rem;
        padding-right:2rem;
        border-bottom: 1px solid #392d23;
        font-size: 10px;
        /* 전에 먹인css그대로 가져가는거야 */
    }
}

@media screen and (max-width:48rem) {
    .third-line{
        display: block;
    }
}

/* 미디어에서 따로 설정을 안해줘서 그래  폭은 그대론데 미디어에서 단순히 폭만 줄어드린거야 미디어 안에 시에스에스 먹여야해*/
/* 사진크기조정- 웹버전,휴대폰버전이랑 사진 조정되게 할때 각각  */
/* 미디어커리는 모바일버전하려고 만드는거임 */