.btn-outline-success{
    color: red;
    border-color: red;
}

.btn-outline-success:hover{
    background-color: red;
    color: white;
    border-color: red;
}

footer{
    background-color: black;
    color:white;
}

.first-line{
    border-bottom: 1px solid #392d23;
}

.second-line a{
    color: white;
    text-decoration: none;
}

.third-line{
    display:none;
}

@media screen and (max-width:48rem) {
    .first-line{
        text-align:center;
    }
}

@media screen and (max-width:48rem) {
    .second-line{
        padding-left:2rem;
        padding-right:2rem;
        border-bottom: 1px solid #392d23;
        font-size: 10px;
    }
}

@media screen and (max-width:48rem) {
    .third-line{
        display: block;
    }
}

